.main-container{
    display: flex;
}

.header-container{
    margin: auto;
    height: auto;
    width: auto;
    padding: .5%;
}

.tool-container{
    /* display: block; */
    border: 1px solid red;
    width: max-content;
    height: max-content;
    padding: 2%;
    margin: 5px;
}

.tool-input{
    margin: 5px;
}

.event-container{
    border: .5px solid black;
    height: fit-content;
    width: fit-content;
    padding: .5%;
    margin: 5px;
    white-space: nowrap;
}